<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGVplDHXA9w-GpLgzlCgTF0GGwVsZx3Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>458187088708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.menuAppLMM</string>
	<key>PROJECT_ID</key>
	<string>menu-app-33286</string>
	<key>STORAGE_BUCKET</key>
	<string>menu-app-33286.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458187088708:ios:028edaea410c72e2346d11</string>
</dict>
</plist>